.navimg1 {
    width:10%;
    height: auto;
    background-image: url("spck3-img/background-color2.png");
}

.navimg2 {
    width: 10%;
    height: auto;
    float: left;
    background-image: url("spck3-img/background-color.png");
}

.heading {
    width: 25.8%;
    height: auto;
    margin-left: auto;
    background-image: url("spck3-img/background-color1.png");
    padding-bottom: 2.3%;
}